.container {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin-top: 0;
  font-size: bold;
}

.searchContainer {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #D5C9E0;
    border-radius: 20px;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1235px;
    margin-left: auto;
    margin-right: auto;
}

.searchContainer h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #EEEEEE;
  background-color: #3B1E54;
  border-radius: 3px;
  padding: 10px;
}

.searchContainer input {
  background-color: #EEEEEE;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3B1E54;
    margin-top: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.searchContainer select {
  width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3B1E54;
    background-color: #EEEEEE;
    color: #3B1E54;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.cardContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #3B1E54;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: calc(90%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  color: #341B54;
}

.card:hover {
  transform: scale(1.05);
  background-color: #D5C9E0;
}

.card h3 {
  margin: 0 0 5px;
  color: #3B1E54;
}

.card p {
  margin: 5px 0;
}

.card a {
  text-decoration: none;
  font-weight: bolder;
  color: #9C7CC2;
}

.buscartodas {
  background-color: #EEEEEE;
  color: #341B54;
  margin-bottom: unset;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.buscartodas:hover {
  background-color: #341B54;
  color: #EEEEEE;
  margin-bottom: unset;
  padding: 10px;
  transform: scale(1.10);
}

/*Estilos Responsive*/
@media (max-width: 1024px) {
  /* Para pantallas de tabletas y pantallas medianas */
  .searchContainer {
    margin-top: 40px;
    padding: 10px;
  }

  .searchContainer h2 {
    font-size: 18px;
  }

  .searchContainer input, 
  .searchContainer select {
    font-size: 14px;
  }

  .card {
    width: calc(45% - 20px);
  }
}

@media (max-width: 768px) {
  /* Para pantallas de móviles y pantallas más pequeñas */
  .searchContainer {
    margin-top: 20px;
    padding: 10px;
  }

  .searchContainer h2 {
    font-size: 16px;
  }

  .searchContainer input, 
  .searchContainer select {
    font-size: 14px;
  }

  .card {
    width: calc(100% - 20px);
  }

  .buscartodas {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  /* Para pantallas extra pequeñas, como móviles en orientación vertical */
  .searchContainer {
    margin-top: 10px;
    padding: 5px;
  }

  .searchContainer h2 {
    font-size: 14px;
  }

  .searchContainer input, 
  .searchContainer select {
    font-size: 12px;
  }

  .card {
    width: 100%;
    padding: 15px;
  }

  .buscartodas {
    padding: 6px;
  }
}