.carousel {
    background-color: #f7f3f9; 
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .carousel h2 {
    color: #3B1E54; 
  }
  
  .slick-slide {
    display: flex; 
    justify-content: center;
  }
  
  .Assets img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }