.container_1 {
    height: 100%;
    margin-top: 5%;
    text-align-last: left;
    color: #EEEEEE;
    background-color: #D5C9E0;
}

.img-3{    
    width: 80%;
    height: 400px;
    background-image: url(../assets/img3.png);
    border-radius: 6%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2) ;
    
}

.containerr_img{
    margin-top: 5%;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
margin-left: 10%;
}

.titulo{
    position: absolute; 
    top: 68%;
    margin-left: 45%;
    transform: translate(-50%);
    text-align: left;
    color: #eee;
    background-color: #3B1E54;
    border-radius: 5px;
}
input {
    background-color: #3B1E54;
    color: #EEEEEE;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #9B7EBD;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.collor-2 {
    background-color: #3B1E54;
}


@media (max-width: 768px) {
  
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
        margin-left: 10%;
    }
    
}